# Build directories
bin/
obj/

# Visual Studio files
*.user
*.suo
*.VC.db
*.VC.opendb
*.vsp
*.vs/
*.vscode/

# Rider IDE files
.idea/

# NuGet packages
*.nupkg
*.snk

# Test result files
*.trx
*.coverage
*.coveragexml

# Resharper files
_ReSharper*/
*.DotSettings.user
